In [1]:
import pandas as pd
import scipy.stats as stats
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
net_movie = pd.read_csv("Resources/netflix_titles.csv")
net_movie

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [3]:
net_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [4]:
net_movie.shape

(8807, 12)

In [5]:
net_movie.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [6]:
net_movie.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [7]:
data = pd.read_csv("Resources/netflix_titles.csv")

net_movie = pd.DataFrame(net_movie , columns = ['show_id', 'title', 'release_year', 'duration', 'type', 'country', 'rating', 'listed_in'])

df = net_movie.rename({'listed_in': 'genre'}, axis=1)

df

,show_id,title,release_year,duration,type,country,rating,genre
0,s1,Dick Johnson Is Dead,2020,90 min,Movie,United States,PG-13,Documentaries
1,s2,Blood & Water,2021,2 Seasons,TV Show,South Africa,TV-MA,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,Ganglands,2021,1 Season,TV Show,NaN,TV-MA,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,Jailbirds New Orleans,2021,1 Season,TV Show,NaN,TV-MA,"Docuseries, Reality TV"
4,s5,Kota Factory,2021,2 Seasons,TV Show,India,TV-MA,"International TV Shows, Romantic TV Shows, TV ..."
...,...,...,...,...,...,...,...,...
8802,s8803,Zodiac,2007,158 min,Movie,United States,R,"Cult Movies, Dramas, Thrillers"
8803,s8804,Zombie Dumb,2018,2 Seasons,TV Show,NaN,TV-Y7,"Kids' TV, Korean TV Shows, TV Comedies"
8804,s8805,Zombieland,2009,88 min,Movie,United States,R,"Comedies, Horror Movies"
8805,s8806,Zoom,2006,88 min,Movie,United States,PG,"Children & Family Movies, Comedies"
8806,s8807,Zubaan,2015,111 min,Movie,India,TV-14,"Dramas, International Movies, Music & Musicals"

#Null Value Drops

In [8]:
df["country_clean"] = [x.split(",")[0] if pd.notnull(x) else x for x in df.country ]
df["genre_clean"] = [x.split(",")[0] if pd.notnull(x) else x for x in df.genre ]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        8807 non-null   object
 1   title          8807 non-null   object
 2   release_year   8807 non-null   int64
 3   duration       8804 non-null   object
 4   type           8807 non-null   object
 5   country        7976 non-null   object
 6   rating         8803 non-null   object
 7   genre          8807 non-null   object
 8   country_clean  7976 non-null   object
 9   genre_clean    8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [9]:
df.country_clean.value_counts()

United States     3211
India             1008
United Kingdom     628
Canada             271
Japan              259
                  ...
Namibia              1
Senegal              1
Luxembourg           1
Syria                1
Somalia              1
Name: country_clean, Length: 86, dtype: int64

In [10]:
df.genre_clean.value_counts()

Dramas                          1600
Comedies                        1210
Action & Adventure               859
Documentaries                    829
International TV Shows           774
Children & Family Movies         605
Crime TV Shows                   399
Kids' TV                         388
Stand-Up Comedy                  334
Horror Movies                    275
British TV Shows                 253
Docuseries                       221
Anime Series                     176
International Movies             128
TV Comedies                      120
Reality TV                       120
Classic Movies                    80
TV Dramas                         67
Thrillers                         65
Movies                            57
TV Action & Adventure             40
Stand-Up Comedy & Talk Shows      34
Romantic TV Shows                 32
Classic & Cult TV                 22
Anime Features                    21
Independent Movies                20
Music & Musicals                  18
TV Shows                          16
Sci-Fi & Fantasy                  13
Cult Movies                       12
TV Horror                         11
Romantic Movies                    3
Spanish-Language TV Shows          2
LGBTQ Movies                       1
TV Sci-Fi & Fantasy                1
Sports Movies                      1
Name: genre_clean, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        8807 non-null   object
 1   title          8807 non-null   object
 2   release_year   8807 non-null   int64
 3   duration       8804 non-null   object
 4   type           8807 non-null   object
 5   country        7976 non-null   object
 6   rating         8803 non-null   object
 7   genre          8807 non-null   object
 8   country_clean  7976 non-null   object
 9   genre_clean    8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [12]:
Netclean_df = df[df["type"] != "TV Show"]
Netclean_df.head()

,show_id,title,release_year,duration,type,country,rating,genre,country_clean,genre_clean
0,s1,Dick Johnson Is Dead,2020,90 min,Movie,United States,PG-13,Documentaries,United States,Documentaries
6,s7,My Little Pony: A New Generation,2021,91 min,Movie,NaN,PG,Children & Family Movies,NaN,Children & Family Movies
7,s8,Sankofa,1993,125 min,Movie,"United States, Ghana, Burkina Faso, United Kin...",TV-MA,"Dramas, Independent Movies, International Movies",United States,Dramas
9,s10,The Starling,2021,104 min,Movie,United States,PG-13,"Comedies, Dramas",United States,Comedies
12,s13,Je Suis Karl,2021,127 min,Movie,"Germany, Czech Republic",TV-MA,"Dramas, International Movies",Germany,Dramas

In [13]:
Netclean_df['duration_clean'] = Netclean_df['duration'].str.split().str[0]
Netclean_df

/var/folders/w1/tsq7fp3s1znc_m2tcd3gpkjm0000gn/T/ipykernel_5959/4092047651.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Netclean_df['duration_clean'] = Netclean_df['duration'].str.split().str[0]

,show_id,title,release_year,duration,type,country,rating,genre,country_clean,genre_clean,duration_clean
0,s1,Dick Johnson Is Dead,2020,90 min,Movie,United States,PG-13,Documentaries,United States,Documentaries,90
6,s7,My Little Pony: A New Generation,2021,91 min,Movie,NaN,PG,Children & Family Movies,NaN,Children & Family Movies,91
7,s8,Sankofa,1993,125 min,Movie,"United States, Ghana, Burkina Faso, United Kin...",TV-MA,"Dramas, Independent Movies, International Movies",United States,Dramas,125
9,s10,The Starling,2021,104 min,Movie,United States,PG-13,"Comedies, Dramas",United States,Comedies,104
12,s13,Je Suis Karl,2021,127 min,Movie,"Germany, Czech Republic",TV-MA,"Dramas, International Movies",Germany,Dramas,127
...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Zinzana,2015,96 min,Movie,"United Arab Emirates, Jordan",TV-MA,"Dramas, International Movies, Thrillers",United Arab Emirates,Dramas,96
8802,s8803,Zodiac,2007,158 min,Movie,United States,R,"Cult Movies, Dramas, Thrillers",United States,Cult Movies,158
8804,s8805,Zombieland,2009,88 min,Movie,United States,R,"Comedies, Horror Movies",United States,Comedies,88
8805,s8806,Zoom,2006,88 min,Movie,United States,PG,"Children & Family Movies, Comedies",United States,Children & Family Movies,88
8806,s8807,Zubaan,2015,111 min,Movie,India,TV-14,"Dramas, International Movies, Music & Musicals",India,Dramas,111

In [14]:
Netclean_df.columns

Index(['show_id', 'title', 'release_year', 'duration', 'type', 'country',
       'rating', 'genre', 'country_clean', 'genre_clean', 'duration_clean'],
      dtype='object')

In [15]:
final_df = Netclean_df.loc[:,['show_id', 'title', 'release_year', 'type',
       'rating', 'country_clean', 'genre_clean', 'duration_clean']]
final_df

,show_id,title,release_year,type,rating,country_clean,genre_clean,duration_clean
0,s1,Dick Johnson Is Dead,2020,Movie,PG-13,United States,Documentaries,90
6,s7,My Little Pony: A New Generation,2021,Movie,PG,NaN,Children & Family Movies,91
7,s8,Sankofa,1993,Movie,TV-MA,United States,Dramas,125
9,s10,The Starling,2021,Movie,PG-13,United States,Comedies,104
12,s13,Je Suis Karl,2021,Movie,TV-MA,Germany,Dramas,127
...,...,...,...,...,...,...,...,...
8801,s8802,Zinzana,2015,Movie,TV-MA,United Arab Emirates,Dramas,96
8802,s8803,Zodiac,2007,Movie,R,United States,Cult Movies,158
8804,s8805,Zombieland,2009,Movie,R,United States,Comedies,88
8805,s8806,Zoom,2006,Movie,PG,United States,Children & Family Movies,88
8806,s8807,Zubaan,2015,Movie,TV-14,India,Dramas,111

In [16]:
final_df =  final_df.rename (columns = {'country_clean':"country", "genre_clean":"genre", "duration_clean":"duration"})
final_df

,show_id,title,release_year,type,rating,country,genre,duration
0,s1,Dick Johnson Is Dead,2020,Movie,PG-13,United States,Documentaries,90
6,s7,My Little Pony: A New Generation,2021,Movie,PG,NaN,Children & Family Movies,91
7,s8,Sankofa,1993,Movie,TV-MA,United States,Dramas,125
9,s10,The Starling,2021,Movie,PG-13,United States,Comedies,104
12,s13,Je Suis Karl,2021,Movie,TV-MA,Germany,Dramas,127
...,...,...,...,...,...,...,...,...
8801,s8802,Zinzana,2015,Movie,TV-MA,United Arab Emirates,Dramas,96
8802,s8803,Zodiac,2007,Movie,R,United States,Cult Movies,158
8804,s8805,Zombieland,2009,Movie,R,United States,Comedies,88
8805,s8806,Zoom,2006,Movie,PG,United States,Children & Family Movies,88
8806,s8807,Zubaan,2015,Movie,TV-14,India,Dramas,111

In [17]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6131 entries, 0 to 8806
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6131 non-null   object
 1   title         6131 non-null   object
 2   release_year  6131 non-null   int64
 3   type          6131 non-null   object
 4   rating        6129 non-null   object
 5   country       5691 non-null   object
 6   genre         6131 non-null   object
 7   duration      6128 non-null   object
dtypes: int64(1), object(7)
memory usage: 431.1+ KB

In [18]:
final_df["duration"] = pd.to_numeric(final_df["duration"])
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6131 entries, 0 to 8806
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6131 non-null   object
 1   title         6131 non-null   object
 2   release_year  6131 non-null   int64
 3   type          6131 non-null   object
 4   rating        6129 non-null   object
 5   country       5691 non-null   object
 6   genre         6131 non-null   object
 7   duration      6128 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 431.1+ KB

In [19]:
final_df.groupby("genre").duration.mean()

genre
Action & Adventure          113.515716
Anime Features               90.333333
Children & Family Movies     78.426446
Classic Movies              114.825000
Comedies                    106.687603
Cult Movies                 102.500000
Documentaries                82.149578
Dramas                      111.377500
Horror Movies                98.174545
Independent Movies           98.700000
International Movies        108.062500
LGBTQ Movies                 99.000000
Movies                       45.481481
Music & Musicals             89.555556
Romantic Movies              83.333333
Sci-Fi & Fantasy            106.615385
Sports Movies                87.000000
Stand-Up Comedy              66.913174
Thrillers                    99.953846
Name: duration, dtype: float64

In [20]:
final_df.groupby("genre").duration.median()

genre
Action & Adventure          108.0
Anime Features               96.0
Children & Family Movies     86.0
Classic Movies              112.0
Comedies                    102.0
Cult Movies                  97.0
Documentaries                87.0
Dramas                      108.0
Horror Movies                94.0
Independent Movies           98.5
International Movies        107.0
LGBTQ Movies                 99.0
Movies                       44.0
Music & Musicals             86.0
Romantic Movies              84.0
Sci-Fi & Fantasy            102.0
Sports Movies                87.0
Stand-Up Comedy              65.0
Thrillers                    97.0
Name: duration, dtype: float64

In [21]:
final_df.groupby("genre").duration.describe()

,count,mean,std,min,25%,50%,75%,max
genre,,,,,,,,
Action & Adventure,859.0,113.515716,25.079838,5.0,96.00,108.0,126.00,214.0
Anime Features,21.0,90.333333,26.329325,36.0,87.00,96.0,104.00,130.0
Children & Family Movies,605.0,78.426446,26.092042,3.0,66.00,86.0,95.00,146.0
Classic Movies,80.0,114.825000,40.716300,18.0,94.00,112.0,130.25,229.0
Comedies,1210.0,106.687603,23.086415,13.0,93.00,102.0,117.00,253.0
Cult Movies,12.0,102.500000,22.427661,83.0,87.75,97.0,104.75,158.0
Documentaries,829.0,82.149578,24.230262,10.0,70.00,87.0,96.00,273.0
Dramas,1600.0,111.377500,23.595719,8.0,96.00,108.0,124.00,312.0
Horror Movies,275.0,98.174545,16.002466,29.0,88.00,94.0,103.50,171.0
Independent Movies,20.0,98.700000,7.175250,86.0,91.75,98.5,104.25,112.0
International Movies,128.0,108.062500,25.264195,22.0,92.00,107.0,123.50,196.0
LGBTQ Movies,1.0,99.000000,NaN,99.0,99.00,99.0,99.00,99.0
Movies,54.0,45.481481,21.636570,19.0,25.25,44.0,58.00,115.0
Music & Musicals,18.0,89.555556,31.149020,52.0,62.25,86.0,105.00,153.0
Romantic Movies,3.0,83.333333,2.081666,81.0,82.50,84.0,84.50,85.0
Sci-Fi & Fantasy,13.0,106.615385,12.230689,89.0,97.00,102.0,117.00,127.0
Sports Movies,1.0,87.000000,NaN,87.0,87.00,87.0,87.00,87.0
Stand-Up Comedy,334.0,66.913174,12.250205,28.0,60.00,65.0,72.00,113.0
Thrillers,65.0,99.953846,15.385089,80.0,89.00,97.0,107.00,149.0

In [22]:
final_df.describe()

       release_year     duration
count   6131.000000  6128.000000
mean    2013.121514    99.577187
std        9.678169    28.290593
min     1942.000000     3.000000
25%     2012.000000    87.000000
50%     2016.000000    98.000000
75%     2018.000000   114.000000
max     2021.000000   312.000000

In [23]:
mask = final_df.genre == "Children & Family Movies"
mask

0       False
6        True
7       False
9       False
12      False
        ...
8801    False
8802    False
8804    False
8805     True
8806    False
Name: genre, Length: 6131, dtype: bool

In [24]:
final_df.title.value_counts()

Dick Johnson Is Dead            1
Balto                           1
Bangkok Traffic (Love) Story    1
Bangkok Hell                    1
Bang Rajan 2                    1
                               ..
Potato Potahto                  1
Luck by Chance                  1
Lakshya                         1
Karthik Calling Karthik         1
Zubaan                          1
Name: title, Length: 6131, dtype: int64

In [25]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6131 entries, 0 to 8806
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6131 non-null   object
 1   title         6131 non-null   object
 2   release_year  6131 non-null   int64
 3   type          6131 non-null   object
 4   rating        6129 non-null   object
 5   country       5691 non-null   object
 6   genre         6131 non-null   object
 7   duration      6128 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 431.1+ KB

In [26]:
final_df.dropna(inplace=True)
final_df

,show_id,title,release_year,type,rating,country,genre,duration
0,s1,Dick Johnson Is Dead,2020,Movie,PG-13,United States,Documentaries,90.0
7,s8,Sankofa,1993,Movie,TV-MA,United States,Dramas,125.0
9,s10,The Starling,2021,Movie,PG-13,United States,Comedies,104.0
12,s13,Je Suis Karl,2021,Movie,TV-MA,Germany,Dramas,127.0
24,s25,Jeans,1998,Movie,TV-14,India,Comedies,166.0
...,...,...,...,...,...,...,...,...
8801,s8802,Zinzana,2015,Movie,TV-MA,United Arab Emirates,Dramas,96.0
8802,s8803,Zodiac,2007,Movie,R,United States,Cult Movies,158.0
8804,s8805,Zombieland,2009,Movie,R,United States,Comedies,88.0
8805,s8806,Zoom,2006,Movie,PG,United States,Children & Family Movies,88.0
8806,s8807,Zubaan,2015,Movie,TV-14,India,Dramas,111.0

In [27]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5687 entries, 0 to 8806
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5687 non-null   object
 1   title         5687 non-null   object
 2   release_year  5687 non-null   int64
 3   type          5687 non-null   object
 4   rating        5687 non-null   object
 5   country       5687 non-null   object
 6   genre         5687 non-null   object
 7   duration      5687 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 399.9+ KB

In [28]:
final_df.to_csv("NetflixProject1Version2.csv", index=False)

In [29]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5687 entries, 0 to 8806
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5687 non-null   object
 1   title         5687 non-null   object
 2   release_year  5687 non-null   int64
 3   type          5687 non-null   object
 4   rating        5687 non-null   object
 5   country       5687 non-null   object
 6   genre         5687 non-null   object
 7   duration      5687 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 399.9+ KB

In [30]:
final_df.count()["genre"]

5687

In [31]:
final2 = final_df[final_df["genre"] != "Movies"]
final2.head()

,show_id,title,release_year,type,rating,country,genre,duration
0,s1,Dick Johnson Is Dead,2020,Movie,PG-13,United States,Documentaries,90.0
7,s8,Sankofa,1993,Movie,TV-MA,United States,Dramas,125.0
9,s10,The Starling,2021,Movie,PG-13,United States,Comedies,104.0
12,s13,Je Suis Karl,2021,Movie,TV-MA,Germany,Dramas,127.0
24,s25,Jeans,1998,Movie,TV-14,India,Comedies,166.0

In [32]:
top_countries = final2.loc[(final2['country'] == 'United States') | (final2['country'] == 'India' ) | (final2['country'] == 'United Kingdom')]
top_countries.head()

,show_id,title,release_year,type,rating,country,genre,duration
0,s1,Dick Johnson Is Dead,2020,Movie,PG-13,United States,Documentaries,90.0
7,s8,Sankofa,1993,Movie,TV-MA,United States,Dramas,125.0
9,s10,The Starling,2021,Movie,PG-13,United States,Comedies,104.0
24,s25,Jeans,1998,Movie,TV-14,India,Comedies,166.0
27,s28,Grown Ups,2010,Movie,PG-13,United States,Comedies,103.0

Country: United States, India, United Kingdom

In [33]:
top_countries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3649 entries, 0 to 8806
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3649 non-null   object
 1   title         3649 non-null   object
 2   release_year  3649 non-null   int64
 3   type          3649 non-null   object
 4   rating        3649 non-null   object
 5   country       3649 non-null   object
 6   genre         3649 non-null   object
 7   duration      3649 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 256.6+ KB

In [34]:
#top_countries.to_csv("netflixfinalcountries.csv", index=False)

In [35]:
top_countries.country.value_counts()

United States     2344
India              927
United Kingdom     378
Name: country, dtype: int64

In [36]:
top_countries.rating.value_counts()

TV-MA       986
TV-14       812
R           631
PG-13       418
TV-PG       321
PG          229
TV-G         61
TV-Y7        56
TV-Y         50
NR           45
G            34
TV-Y7-FV      3
UR            2
NC-17         1
Name: rating, dtype: int64

In [37]:
df2 = top_countries.replace({'rating' : { 'TV-MA' : 'R' , 'TV-14' : 'PG-13', 'TV-PG' : 'PG', 'TV-G' : 'G', 'TV-Y7': 'PG', 'TV-Y' : 'PG', 'TV-Y7-FV' : 'PG', 'UR' : 'NR', 'NC-17': 'R' }})

In [38]:
df2.rating.value_counts()

R        1618
PG-13    1230
PG        659
G          95
NR         47
Name: rating, dtype: int64

In [39]:
df3 = df2[df2["duration"] > 40 ]
df3.head()

,show_id,title,release_year,type,rating,country,genre,duration
0,s1,Dick Johnson Is Dead,2020,Movie,PG-13,United States,Documentaries,90.0
7,s8,Sankofa,1993,Movie,R,United States,Dramas,125.0
9,s10,The Starling,2021,Movie,PG-13,United States,Comedies,104.0
24,s25,Jeans,1998,Movie,PG-13,India,Comedies,166.0
27,s28,Grown Ups,2010,Movie,PG-13,United States,Comedies,103.0

In [40]:
df3.duration.value_counts()

90.0     98
97.0     94
94.0     85
93.0     80
91.0     80
         ..
193.0     1
208.0     1
190.0     1
224.0     1
191.0     1
Name: duration, Length: 156, dtype: int64

In [43]:
df3.to_csv("NetflixDF4.csv", index=False)